img {
    width: 15vw;
    margin-left: 1vw;
}

.maintitle {
    text-align: center;
}

.imgcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}